<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-10">
      <div class="card text-bg-dark">
        <img src="https://static01.nyt.com/images/2019/10/01/science/00SCI-CATS1/merlin_102054072_34962289-a2a4-4c52-9969-4b2719347e76-superJumbo.jpg?quality=75&auto=webp" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h1 class="card-title title text-center">
            <br>
            <br>
            {{title}}
          </h1>
          <h3 class="card-text text-center">Welcome to {{title}}</h3>
          {{!-- <p class="card-text"><small>Last updated 3 mins ago</small></p> --}}
        </div>
      </div>
    </div>
    <div class="col">
      
    </div>
  </div>
</div>