<h1 class="text-center">Make a post</h1>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col text-center">
      <form
      id="new-post-form"
      action="/posts"
      enctype="multipart/form-data"
      method="post"
      >
        <div class="mb-3">
          <br>
          {{!-- <label for="message">Message: </label> --}}
          <input id="message" type="text" name="message" class="form-control" placeholder="What's in your mind today..."/>
        </div>
        <div class="mb-3">
          <input 
            id="post-image"
            type="file"
            class="form-control"
            name="uploadedImage"
          />
          <br>
          <input
            id="submit"
            type="submit"
            value="Submit"
            class="btn btn-primary"
          />
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>